
footer {
    display: flex;
    flex-direction: column;
    background-color: #2B6764;
    width: 100vw;
    height: fit-content;
    padding-top: 3%;
    padding-bottom: 1%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

footer span {
    font-size: clamp(1em,1.3em,10vw);
    font-family: 'Dosis', sans-serif;
    text-shadow: -1px 4px 5px #000000;
}

.enlacesFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.enlacesFooter a{
    text-decoration: none;
}

.logoFooter {
    display:flex;
    width: clamp(7em,15em,12vw);
}


@media screen and (max-width: 900px) {
    .enlacesFooter a span{
        display: none;
    }
}