header {
  /* height: fit-content; */
  height: 8vh ;
  width: 100vw;
  background-color: #488F8B;
}

.navbar {
  background-color: #488F8B;
  transition: all ease-in-out 800ms;
}

.navbar-nav {
  gap: 1vw;
}

.centrar-texto{
  display: flex;
  justify-content: center;
  align-items: center;
}

header span, .texto-aguamarina {
  font-size: clamp(1.4em,1.7em,8vw);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: #faebd7;
  text-decoration: none;
  font-family: 'Rubik';
}


.texto-aguamarina{
  display: flex;
}


.navbar-nav a:hover{
  color: var(--hover);
  transition: all 100ms ease-in-out;;
}