
.info {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw 5vh 2vw;
    gap: 2vw;
}

.info .sobreMi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobreMi h2 {
    color: #000000;
    text-shadow: -1px 4px 5px #488F8B;
    font-family: 'Sigmar', sans-serif;
    font-size: clamp(1.8em,2.4em,10vw);
}

.sobreMi p {
    color: #000000;
    text-shadow: -1px 4px 5px #488F8B;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-size: clamp(1.1em,1.7em,4vw);
    text-align: center;
}

.info img {
    display: none;
}


@media screen and (min-width: 1000px) {

    .info img {
        height: 250px;
        border-radius: 20px;
        display:initial;
        box-shadow: -1px 4px 5px #488F8B;
    }

}