*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color:#fffafa;
    font-weight: bold;
  }

html, body{
  display:flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}


.info-trabajos{
  background: rgb(233,210,250);
  background: linear-gradient(180deg, rgba(233,210,250,1) 0%, rgba(236,240,179,1) 50%, rgba(183,236,219,1) 100%);
}
