.trabajos {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    text-align: center;
    padding-bottom: 10px;
}
  
.titulo-carrusel{
    color: #000000;
    text-shadow: -1px 4px 5px #488F8B;
    font-family: 'Sigmar', sans-serif;
    font-size: clamp(1.8em,2.4em,9vw);
    padding:0 10px 10px 10px; 
    margin-bottom:40px;
}
  
.contenedor-carousel{
    width: 60%;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.card-title{
    font-family: 'Dosis', sans-serif;
    text-shadow: -1px 4px 5px #488F8B;
}


.boton {
    background-color: #2B6764;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    box-shadow: 3px 3px #000000;
}

div.boton:hover{
    cursor: pointer;
    padding: 15px 35px 15px 35px;
    border: 5px solid #389b96;
    transform:scale(1.08);
}

.boton a{
    color: #ffffff;
    text-decoration: none;
}